<!--if you'd like to have the navbar and or header on every page, move it up a level to app.html!-->
<navbar></navbar>
<header>
	<hero></hero>
</header>
<main>
	<div>
		<h1>you can find me in {{ vm.name }}.html</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="box box-danger">
				<div class="box-header">this is header</div>
				<div class="box-body">
					this is body
				</div>
				<div class="overlay"></div>
				<div class="loading-img"></div>
			</div>
		</div>
	</div>
</main>